<p id="notice"><%= notice %></p>

<% if @user.avatar.representable? %>
  <%= image_tag @user.avatar.variant(resize_to_limit: [300, 300]) %>
<% end %>

<div>
  <h1><%= @user.name %></h1>
  <% if current_user.friends_with?(@user) %>
    <em><p>friends</p></em>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<% if !Request.record?(current_user.id, @user.id) %>
  <%= button_to 'Add Friend', add_friend_path, method: :get %>
<% elsif Request.got_request?(@user.id, current_user.id) %>
  <%= button_to 'Accept Friend Request', accept_request_path, method: :get %>
<% end %>
