<% posts_type.each do |post| %>
  <div class='feed-post'>
    <div class='post'>
      <h2><strong><%= post.user.name %></strong></h2>
      <small><%= post.user.email%></small><br />
      <p><%= post.content %></p>
      <% if post.photo.representable? %>
        <%= image_tag post.photo.variant(resize_to_limit: [200, 200])  %>
      <% end %>
      <p><%= post.your_likes.count %> <%= post.your_likes.count == 1 ? 'Like' : 'Likes' %></p>

      <%= render 'likes', is_feed: true, post: post %>
      <%= button_to 'See Post', post, method: :get %>
    </div>

    <div id='comment-section'>
      <h3>Comments</h3>
      <% if post.comments %>
        <% post.comments.each do |comment| %>
          <div class='comment'>
            <p><em><%= User.find_by(id: comment.user_id).name %></em></p>
            <p><%= comment.content %></p>
          </div>
        <% end %>
      <% end %>
      <%= form_with url: post_comments_path(post) do |form| %>
        <%= form.text_field :content %>
        <%= form.submit 'Comment' %>
      <% end %>
    </div>
  </div>
<% end %>

